 *{
  box-sizing:border-box

}
  
@keyframes slideleft {
    0% {transform: translateX(100px);}
  70% {transform: translateX(-30px);}
    100% {transform: translateX(0px);}
}
.toastContainer{
  position:fixed;
  top:20px;
  right:20px;
}
.webToast {
  text-align:left;
    padding: 10px 0;
    background-color:#fff;
    border-radius:4px;
    max-width: 500px;
    top: 0px;
    position:relative;
       box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  
  animation: slideleft .8s;
  transition:all .8s
}



.webToast:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;

}

.toastIcon{
position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-top: 1px;
}

.toastStatus {
  color: #3e3e3e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 20px;
}

.toastMessage {
    font-size: 16px;
    margin-top: 0;
  margin-bottom: 0;
    color: #878787;
}

.toastContent{
  padding-left:70px;
  padding-right:60px;
}

.toast__close {
    position: absolute;
    right: 22px;
    top: 38%;
    width: 14px;
    cursor: pointer;
    height: 14px;
    color: #ada9a9;
    transform: translateY(-50%);
    font-size: 28px;
}

.toastSuccess .toastIcon{
  background-color:#2BDE3F;
}

.toastSuccess:before{
  background-color:#2BDE3F;
}

.toastInfo .toastIcon{
  background-color:#1D72F3;
}

.toastInfo:before{
  background-color:#1D72F3;
}

.toastDanger .toastIcon{
  background-color:#ef6658;
}

.toastDanger:before{
  background-color:#ef6658;
}

 


.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}